.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: #293953 solid 2px;
    background-color: #1a2434;
    padding: 10px 15px;
    min-height: 70px;
}

.header-nav,
.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

