.user-deposits {
  background-color: #0f172a;
  padding: 20px;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
}

.user-deposits table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

.user-deposits th,
.user-deposits td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #333;
}

.user-deposits th {
  color:white;
}
.currency-positive {
  color: lightgreen;
}
.currency-negative {
  color: tomato;
}
